<ion-header>
  <ion-toolbar>
    <ion-title>forgetpassword</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding >
  <ion-item *ngIf="value2">
    <ion-input type="email" placeholder="Enter a Registed Mail" [(ngModel)]="email">

    </ion-input>
    <ion-button (click)="send()">
      Send
    </ion-button>
  </ion-item>
  <ion-item *ngIf="value1">
    <ion-input type="text" placeholder="Enter a OTP" [(ngModel)]="user_input">

    </ion-input>

    <br>
    <ion-button (click)="submit1()">
      Submit
    </ion-button>
  </ion-item>
  
<form [formGroup]="myform"> 
  <ion-item *ngIf="value3">
    <ion-input type="text" formControlName="pass"  placeholder="Enter a new password" [(ngModel)]="pass">

    </ion-input>
  </ion-item>  
  <ion-item *ngIf="value3"> 
    <ion-input type="text" formControlName="pass1"  placeholder="confirm password" [(ngModel)]="pass1">

    </ion-input>
  </ion-item> 
    
    <ion-item *ngIf="value3">
    <ion-button (click)="change()">
      chnage password
    </ion-button>
  </ion-item> 
</form> 
</ion-content>